@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway' */

.row { max-width: 1000px; margin: 0 auto; padding: 0px;  }
body {  background: #362e2b; font-family: 'Nanum Gothic'; }

#section0 { color: #fff;}

/* menu */
.menu-outer { margin-top: 30px; background: #d1c0a5; }
.menu {
	position: fixed; top: 0; left: 0;
	width: 100%; z-index: 999; background: #d1c0a5;
}
.menu .navimg {
    height: 31px;
    background: url(../img/fence01.gif) repeat-x 0 0;
}
.menu .nav { text-align: center; margin-top: 10px;}
.menu .nav li {
	display:inline-block;
	color: #362e2b; font-family: 'Raleway';
	font-weight: bold; text-align: center;
}
.menu li a { padding: 10px 20px; }
.menu li a:hover { color: #fff; }
.menu li.active a { color: #fff; }

/* 공통 */
h2 { color: #d1c0a5; font-size: 20px; font-weight: bold; }

/* top */
.top {
    background: url(../img/slide01.jpg) no-repeat center;
    height: 100vh;
    background-size:cover;
    position: relative;
}

.top .txt {
    position: absolute;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; font-weight: bold;
    font-family: 'Raleway'
}

.top .txt h3 {
    font-size: 100px; color: #362e2b; font-weight: bold;
    animation: fadeInUp 0.5s both 0.6s;
}
.top .txt p {
    font-size: 30px; color: #362e2b; font-weight: bold;
    padding-bottom: 10px;
    animation:fadeInDown 0.5s both 0.6s;
}

/* me */
.me .imgbox img { position: absolute; left: 50%;  transform: translate(-50%, -50%); }
.me .imgbox img:nth-child(2):hover { display: none; animation: ani 1s both 0s; }
@keyframes ani {
    0% { opacity: 0; }    
    100% {  opacity: 0; }
}
.me .mebox {
    display: flex; justify-content: space-between; align-items: center;
    color: #fff; line-height: 1.5; font-size: 14px;
}
.me .infobox { flex: 40%; }
.me .imgbox { flex: 20%; }
.me .history { flex: 40%; }

.me .wel { font-size: 18px; margin-bottom: 20px; }
.me .info p:nth-child(1) { font-size: 40px; font-weight: bold; color: #d1c0a5; font-family: 'Raleway' }

.me .skill { margin-top: 20px; }
.me .skill > div { position: relative; width: 70%; }
.me .skill > div > p {
    color: #fff; font-size: 14px; 
    width: 100px; padding: 2px 0px;
}
.me .skill .score {
    position: absolute; left: 100px; width: calc(100% - 100px);
    top: 0px; bottom: 50%;
}
.skill .score .myscore {
    text-align: right;
    color: #fff; font-size: 12px;
    position: absolute; left: 5%; top: 50%;  
    height: 12px;
}

.me .skill .html .myscore { width: 0%; background: #736d6b; }
.me .skill .css .myscore { width: 0%; background: #736d6b; }
.me .skill .script .myscore { width: 0%; background: #736d6b; }
.me .skill .jquery .myscore { width: 0%; background: #736d6b; }
.me .skill .react .myscore { width: 0%; background: #736d6b; }
.me .skill .photoshop .myscore { width: 0%; background: #736d6b; }
.me .skill .illustrator .myscore { width: 0%; background: #736d6b; }
.me .skill .aftereffect .myscore { width: 0%; background: #736d6b; }

.me .history { text-align: right; font-size: 14px; }

/* portfolio */
.slide-outer { width: 1500px; margin: 0 auto; padding: 0; }
.portfolio { overflow: hidden; text-align: center; }

.portfolio .flex  { display: flex; padding: 0 100px; overflow: hidden; }
.portfolio .pofolimg { flex: 50%; }
.portfolio .pofoltxt { flex: 50%; margin: 10px 0 0 30px; text-align: left; }

#slide1 .view img { width: 500px;}
#slide2 .view img { width: 130px;}
#slide3 .view img { width: 500px;}
#slide4 .view img { width: 400px;}
.portfolio .view p { font-size: 20px; color: #fff; font-weight: bold; margin-top: 20px; }

.portfolio .pofolimg { overflow: hidden; position: relative; }
.portfolio .pofolimg::before {
    content: ''; position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(56,46,43,0.8);
    opacity: 0; transition: all 0.4s;
}
.portfolio .pofolimg:hover::before {
    opacity: 1; z-index:9;
    border: 1px solid #d1c0a5;
}
.portfolio .view {
    position: absolute; top: 50%;
    left: 50%; transform:translate(-50%, -50%); 
    font-size: 30px; color: #d1c0a5;
    line-height: 2;
    opacity: 0; transition: all 0.4s 0.2s;
}
.portfolio .pofolimg:hover .view { opacity: 1;  z-index: 10 }
.portfolio .pofolimg > img { transition: all 0.5s; }
.portfolio .pofolimg:hover > img { transform: scale(1.2); }


.portfolio .pofoltxt h3 { font-size: 30px; color: #d1c0a5; font-weight: bold; margin: 10px 0; }
.portfolio .pofoltxt p { color: #fff; line-height: 1.5; font-size: 18px; }
.portfolio .link { color: #fff; font-size: 14px; margin-top: 30px; }


/*  */
.bottom .txt {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; font-weight: bold;
    font-family: 'Raleway'
}
.bottom h3 {
    font-size: 100px; color: #362e2b; font-weight: bold;
    animation: fadeInUp 1s both 1s;
}
.bottom .sns {
    text-align: left;
    position: absolute; left: 50%; transform: translateX(-50%);
    margin-top: 20px;
}
.bottom .txt p { margin-bottom: 10px; }
.bottom .txt a {
    display: inline-block;    
    width: 32px; height: 32px; line-height: 32px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    transition: all 0.3s;
    text-align: center;
}
.bottom .txt a:hover { color: #d1c0a5; }
.bottom .txt span { margin-left: 10px; }

/* footer */
#footer { background: #d1c0a5; }
.footerbox {
    position: absolute; bottom: 11px; left: 0;
	width: 100%; z-index: 999; background: #d1c0a5;
}
#footer p {
    margin-bottom: 30px;
    color: #362e2b; text-align: center; font-size: 15px;
    font-weight: bold; font-family: 'Raleway'
}
#footer .footimg {
    height: 31px;
    background: url(../img/fence02.gif) repeat-x 0 0;
}